Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.local
.vercel
.next
.git
.gitignore
.eslintrc.json
.eslintrc.js
.eslintrc.mjs
.eslintrc.yaml
.eslintrc.yml
.eslintrc
.eslintignore
.prettierrc
.prettierrc.json
.prettierrc.js
.prettierrc.yaml
.prettierrc.yml
.prettierrc.toml
.prettierignore
.editorconfig
.vscode
.idea
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
